[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pandas-datareader = "*"
matplotlib = "*"
numpy = "*"
kivy = "*"
"kivy-garden.graph" = "*"
mplfinance = "*"

[dev-packages]

[requires]
python_version = "3.9"
